.sliderSideBar {
    border: 1px solid black;
    display: inline-block;
    margin: 5px;
    overflow-y: auto;
    position: absolute;
    height: 750px;
    width: 20%;
}

.renderArea {
    border: 1px solid black;
    display: inline-block;
    margin: 5px;
    margin-left: 21.5%;
    height: 750px;
    width: 78%;
}

.menu {
    box-shadow:3px 3px 2px #888888;
    margin: 5px;
    text-align: left;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    width: 255px;
}

.numBox {
    width: 40px;
}

.sampleBox {
    display: inline-block;
    margin-right: 20px;
    margin-left: 4px;
}
