body
{
  margin-left: 25px;
  margin-top: 25px;
  background-color: #141414;
}

.grid
{
  display: inline-block;
  width: 600px;
  height: 500px;
  background-color: black;
  border: 2px solid gray;
}

.canvas
{
  background-color: black;
}


.header
{
  color: white;
}