#container {
    position: absolute;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    width: 100%;
    overflow: hidden;
}

.renderArea {
    border: 2px solid black;
    display: inline-block;
    float: right;
    width: auto;
    margin-left: 5px;
    margin-right: 15px;
}

.sideBarPane {
    border: 2px solid black;
    height: 750px;
    position: relative;
    left: 0;
    top: 0;
    max-width: 410px;
}

.play {
    border-radius: 47px;
    float: left;
    cursor: pointer;
}
