body {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
}

button {
  margin-top: 5px;
  width: 100%;
  display: block;
  color: rgba(0, 0, 0, 0.5);
  border: 1px solid #C1C1C1;
  background: rgba(158,158,158,.1);
  border-radius: 3px;
  padding: 5px;
  text-transform: uppercase;
  font-weight: 600;
  transition: background 0.3s linear;
  cursor: pointer;
  outline: none;
}

p {
  margin: 0;
  padding-top: 2px;
  padding-bottom: 2px;
}

.right {
  float: right;
}

.container {
  width: 100%;
  height: 100%;
}

.infoPanels {
  width: 350px;
  margin: auto;
  height: 100%;
  background: white;
}

.cryptoPanel {
  margin-bottom: 50px;
}
